<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" width="28" height="28"> <!-- change zis -->
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
   
        <a class="navbar-item" href="/blog">
            Blog
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Services
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
                GPAC Licensing
            </a>
            <a class="navbar-item">
              Custom development
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <a class="navbar-item">
              Training
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
                Support
            </a>
          </div>
        </div>
        <a class="navbar-item">
          Customers
        </a>

        <a class="navbar-item">
            About us
        </a>
        <a class="navbar-item">
            Join us
        </a>
        <a class="navbar-item">
            Contact us
        </a>
      </div>
  

    </div>
  </nav>