---
layout: "wrapper"
---
<div class="columns blog_post">
    <div class="column">
    </div>
    <div class="column is-three-quarters">
        <h1 class="post_title">{{ page.title }}</h1>
        <div class="auth_and_date">
            <p class="author">{{ page.author }}</p>
            <p class="date">{{ page.date | date_to_long_string }}</p>
        </div>
        <div class="tags">
            {% for tag in page.tags %}
            <span class="tag is-primary">{{ tag}}</span>
            {% endfor %}
        </div>
        <div class="post_content">
            {{ content }}
        </div>
        <nav class="pagination" role="navigation" aria-label="pagination">
            {% if page.previous.url %}
              <a class="pagination-previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
              <a class="pagination-next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
            {% endif %}
        </nav>
    </div>
    <div class="column">
    </div>
</div>